<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.ohm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ohm">
        <activity android:name=".waitroom"></activity>
        <activity android:name=".User_Login"> <!-- 메인 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".password_find" /> <!-- 비밀번호 찾기 -->
        <activity android:name=".toy_waitroom" /> <!-- 찬반투표 대기실 -->
        <activity android:name=".MyPage" /> <!-- 마이페이지 -->
        <activity android:name=".settings" /> <!-- 내 프로필을 설정 할 수 있는 창 -->
        <activity android:name=".login" /> <!-- 로그인 -->
        <activity android:name=".join" /> <!-- 회원가입 -->
        <activity android:name=".Main" />
    </application>

</manifest>